<%- include("template/cabecera", {tituloweb: 'Página 404 '}) %>
<body>
    <%- include("template/navbar") %>
    <h1><%= titulo %></h1>

    <h1><%= descripcion %></h1>
    <%- include("template/footer") %>